* {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand {
  font-weight: bold;
}

.main-message {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.main-message h2 {
  font-weight: bold;
}

.card {
  width: 18rem;
  margin: 15px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 250px;
  /* Set a fixed height for all cards */
  overflow: hidden;
}

.card:hover {
  background-color: #f1eeee;
  /* color: white; */
}

.card-img-top {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  /* Horizontal centering */
  align-items: center;
  /* Vertical centering */
  margin-left: 10px;
  padding: 5px;
}

.card-title {
  font-weight: bolder;
}

.backButton {
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px;
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.backButton img {
  width: 40px;
  height: 40px;
  margin-top: 60px;
}

.pdf-tools-container {
  margin-left: 60px;
}

.mainIcon {
  height: 30px;
  width: 30px;
}

.json-container {
  display: flex;
}

.btn.json-format {
  color: white;
  font-size: 20px;
  height: 50px;
  width: 100px;
  background: #198754;
}